function Main.main 3
push constant 10
call Random2.setSeed 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 5
push constant 5
push constant 511
push constant 5
sub
push constant 255
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 81
eq
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push constant 506
call Random2.randRange 1
pop local 1
push constant 250
call Random2.randRange 1
pop local 2
call Random2.rand 0
call Random2.setSeed 1
pop temp 0
push local 1
push local 2
push local 1
push constant 5
add
push local 2
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
