function Random2.setSeed 0
push argument 0
pop static 0
call Random2.rand 0
pop static 0
push constant 0
pop static 1
push constant 0
return
function Random2.rand 0
push static 0
push constant 20251
add
pop static 0
push static 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push constant 32767
sub
push constant 1
sub
pop static 0
label IF_FALSE0
push static 0
return
function Random2.randRange 2
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 0
lt
not
if-goto WHILE_END0
push local 0
push constant 2
call Math.multiply 2
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Random2.rand 0
push local 0
and
pop local 1
push static 1
push constant 1
add
pop static 1
label WHILE_EXP1
push local 1
push argument 0
gt
not
if-goto WHILE_END1
call Random2.rand 0
push local 0
and
pop local 1
push static 1
push constant 1
add
pop static 1
push local 1
call Random2.getShift 0
and
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 1
return
function Random2.getShift 1
push static 1
push constant 1
add
pop static 1
push static 1
pop local 0
label WHILE_EXP0
push local 0
push constant 9
gt
not
if-goto WHILE_END0
push local 0
push constant 9
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Random2.addCallTime 0
push static 1
push argument 0
add
pop static 1
push constant 0
return
