function Teste.sum 4
label WHILE_EXP0
push local 0
push constant 2
add
push constant 4
eq
not
if-goto WHILE_END0
push local 1
push constant 2323
call Math.multiply 2
pop local 2
push local 2
push constant 999
call Math.divide 2
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
