function Simples.new 1
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push this 0
push this 1
call Math.multiply 2
pop local 0
push pointer 0
return
