function Teste.sum 4
push local 0
push constant 2
add
push constant 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 2323
call Math.multiply 2
pop local 2
push local 2
push constant 999
call Math.divide 2
pop local 3
goto IF_END0
label IF_FALSE0
push local 1
push constant 2323
call Math.multiply 2
pop local 2
push local 2
push constant 999
call Math.divide 2
pop local 3
label IF_END0
push constant 0
return
